apiVersion: v1
items:
- apiVersion: image.openshift.io/v1
  namespace: {{ project_name }}
  kind: ImageStream
  metadata:
    namespace: {{ project_name }}
    annotations:
      openshift.io/generated-by: OpenShiftNewApp
    creationTimestamp: null
    labels:
      app: manifests
      app.kubernetes.io/component: manifests
      app.kubernetes.io/instance: manifests
    name: httpd-24-centos7
  spec:
    lookupPolicy:
      local: false
    tags:
    - annotations:
        openshift.io/imported-from: centos/httpd-24-centos7
      from:
        kind: DockerImage
        name: centos/httpd-24-centos7
      generation: null
      importPolicy: {}
      name: latest
      referencePolicy:
        type: ""
  status:
    dockerImageRepository: ""
- apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  metadata:
    namespace: {{ project_name }}
    annotations:
      openshift.io/generated-by: OpenShiftNewApp
    creationTimestamp: null
    labels:
      app: manifests
      app.kubernetes.io/component: manifests
      app.kubernetes.io/instance: manifests
      app.kubernetes.io/part-of: docs
    name: manifests
  spec:
    replicas: 1
    selector:
      deploymentconfig: manifests
    strategy:
      resources: {}
    template:
      metadata:
        annotations:
          openshift.io/generated-by: OpenShiftNewApp
        creationTimestamp: null
        labels:
          deploymentconfig: manifests
      spec:
        containers:
        - image: centos/httpd-24-centos7
          name: manifests
          ports:
          - containerPort: 8080
            protocol: TCP
          - containerPort: 8443
            protocol: TCP
          volumeMounts:
          - name: manifests-volume
            mountPath: /var/www/html
          resources: {}
        volumes:
        - configMap:
            name: manifests
          name: manifests-volume
    test: false
    triggers:
    - type: ConfigChange
    - imageChangeParams:
        automatic: true
        containerNames:
        - manifests
        from:
          kind: ImageStreamTag
          name: httpd-24-centos7:latest
      type: ImageChange
  status:
    availableReplicas: 0
    latestVersion: 0
    observedGeneration: 0
    replicas: 0
    unavailableReplicas: 0
    updatedReplicas: 0
- apiVersion: v1
  kind: Service
  metadata:
    namespace: {{ project_name }}
    annotations:
      openshift.io/generated-by: OpenShiftNewApp
    creationTimestamp: null
    labels:
      app: manifests
      app.kubernetes.io/component: manifests
      app.kubernetes.io/instance: manifests
    name: manifests
  spec:
    ports:
    - name: 8080-tcp
      port: 8080
      protocol: TCP
      targetPort: 8080
    - name: 8443-tcp
      port: 8443
      protocol: TCP
      targetPort: 8443
    selector:
      deploymentconfig: manifests
  status:
    loadBalancer: {}
kind: List
metadata: {}