apiVersion: v1
kind: ConfigMap
metadata:
  name: manifests
  namespace: {{ project_name }}
data:
{% for item in workshop_manifests %}
  {{ item.id }}: |-
  
    id: "{{ item.id }}"
    name: "{{ item.title }}"

    content:
      url: https://raw.githubusercontent.com/utherp0/workshop4/master/labs

    vars:
      OPENSHIFT_CONSOLE_URL: "https://console-openshift-console.mycluster.com"

    modules:
      activate:
{% for lab in item.labs %}
      {{ "- " + lab.id }}
{% endfor %}
{% endfor %}