---
apiVersion: v1
kind: ConfigMap
metadata:
  name: docs
  namespace: {{ project_name }}
data:
  WORKSHOPS_URLS: "{{ workshop_manifests | map(attribute='id') | map('regex_replace', '^(.*)$', 'http://manifests:8080/\\1') | list | join(',') }}"
  OPENSHIFT_CONSOLE_URL: "{{ OPENSHIFT_CONSOLE_URL }}"
  LOG_TO_STDOUT: "true"
  ROUTE_URL: "{{ ROUTE_URL }}"
---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: docs
  namespace: {{ project_name }}
  labels:
    app.kubernetes.io/part-of: docs
spec:
  selector:
    app: docs
  replicas: 1
  template:
    metadata:
      labels:
        app: docs
    spec:
      containers:
        - name: docs
          image: quay.io/openshiftlabs/workshopper:1.0
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: docs
          env:
            - name: USERNAME_URL
              value: "https://username-distribution-{{ project_name }}.{{ manifests_routes.result.spec.host.split('.')[1:] | join('.') }}"
          resources: {}
---
apiVersion: v1
kind: Service
metadata:
  name: docs
  namespace: {{ project_name }}
spec:
  selector:
    app: docs
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: docs
  namespace: {{ project_name }}
spec:
  path: /
  to:
    kind: Service
    name: docs
  port:
    targetPort: 8080
