---
apiVersion: v1
kind: ConfigMap
metadata:
  name: devex
  namespace: docs
data:
  WORKSHOPS_URLS: "{{ dir_out.stdout_lines | map('regex_replace', '^(.*)$', 'http://labs:8080/\\1') | list | join(',') }}"
  OPENSHIFT_CONSOLE_URL: "{{ OPENSHIFT_CONSOLE_URL }}"
  LOG_TO_STDOUT: "true"
---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: devex
  namespace: docs
spec:
  selector:
    app: devex
  replicas: 1
  template:
    metadata:
      labels:
        app: devex
    spec:
      containers:
        - name: devex
          image: quay.io/openshiftlabs/workshopper:1.0
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: devex
---
apiVersion: v1
kind: Service
metadata:
  name: devex
  namespace: docs
spec:
  selector:
    app: devex
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: devex
  namespace: docs
spec:
  path: /
  to:
    kind: Service
    name: devex
  port:
    targetPort: 8080
