.DS_Store
/node_modules/
**/target
documentation/ocp4devex/.settings
documentation/.project
documentation/.settings
documentation/.settings
documentation/ocp4devex/.project
.vscode/settings.json
.vscode/spellright.dict
attendee/slave/.odo/
documentationbasic/.project
documentationbasic/.settings/org.eclipse.core.resources.prefs
documentationbasic/.settings/org.eclipse.m2e.core.prefs
documentationbasic/ocp4devex/.project
documentationbasic/ocp4devex/.settings/org.eclipse.core.resources.prefs
documentationbasic/ocp4devex/.settings/org.eclipse.m2e.core.prefs

workshopbot/.project
documentationadvanced/.project
documentationadvanced/.settings/
documentationadvanced/ocp4devex/.project
documentationadvanced/ocp4devex/.settings/
