---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  creationTimestamp: null
  name: admin
  namespace: {{ item.name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: admin
subjects:
{% for user in item.members %}
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: {{ user }}
{% endfor %}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  creationTimestamp: null
  name: admin
  namespace: {{ item.name }}-infra
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: admin
subjects:
{% for user in item.members %}
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: {{ user }}
{% endfor %}