<html>
<head>
  <title>Links Page for Workshop</title>
  <script src="scripts/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" href="styles/ui.css"/>

  <script>
    function dataFill()
    {
      $.ajax({url: "envs", success: function( result ) {
        $("#requestStatus").html(result);
      }});
    }

    function loadData()
    {
      getURL();
      getTerminal();
      getDocument();
    }

    function getURL()
    {
      $.ajax({url: "geturl", success: function( result ) {        
        //$("#outputURL").html(result);

        targetLink = document.getElementById("URLlink");
        targetLink.href = result;
        targetLink.innerHTML = result;
      }});
    }

    function getTerminal()
    {
      $.ajax({url: "getterminal", success: function( result ) {
        //$("#outputTerminal").html(result);

        targetLink = document.getElementById("terminallink");
        targetLink.href = result;
        targetLink.innerHTML = result;
      }});
    }
    
    function getDocument()
    {
      $.ajax({url: "getdocurl", success: function( result ) {
        //$("#outputDocument").html(result);

        targetLink = document.getElementById("documentlink");
        targetLink.href = result;
        targetLink.innerHTML = result;
      }});
    }
    
    function jsonCall()
    {
      $.ajax({url:"nasa", success: function(result) {
        $("#jsonoutput").html(result);
      }});
    }

    function reveal( targetName )
    {
      target = document.getElementById(targetName);

      target.style.display = ( target.style.display == "block" ? "none" : "block" );

      buttonLabel = document.getElementById("hider").value;
      document.getElementById("hider").value = ( document.getElementById("hider").value == "Reveal" ? "Hide" : "Reveal");
    }

  </script>

</head>

<body onload="loadData();">
<div width="100%" align="right"><img src="/images/redhat.png" width="200px"/></div>
<div align="center">
<h1>Openshift Container Platform 4.2.x DevEx Workshop</h1><br/>
<b class="outputLarge">Workshop Address: </b><a class="outputLarge" id="URLlink" target="_blank"></a><br/><br/>
<b class="outputLarge">Terminal Address: </b><a class="outputLarge" id="terminallink" target="_blank"></a><br/><br/>
<b class="outputLarge">Documentation Address: </b><a class="outputLarge" id="documentlink" target="_blank"></a><br/><br/>
<b class="outputLarge">Attendee Material: </b><a class="outputLarge" href="https://github.com/utherp0/workshop4/tree/master/attendee" target="_blank">https://github.com/utherp0/workshop4/tree/master/attendee</a><br/><br/>
<b class="outputLarge">Reference Docs: </b><a class="outputLarge" href="http://docs.openshift.com" target="_blank">http://docs.openshift.com</a><br/><br/>
</div>

</body>
</html>
